* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img{
    max-width: 100%;
}

/* clases */
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}


header{
    display: flex;
    justify-content: center;
    margin: 0 50px;
    align-items: center;
    padding: 10px;
}
nav{
    background-color: black;
}
nav a{
    color: white;
    display: inline-block;
    padding: 10px 15px;
}
nav a:hover{
    background-color: white;
    color: black;
}

.contenedor{
    width: 90%;
    /* margin: 15px auto; */
}

.boton{
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
    color: black;
    margin: 10px 0;
}
.boton:hover{
    border: 1px solid white;
    background-color: black;
    color: white;
}
.align-center{
    text-align: center;
    margin: auto;
}

.div_producto{
    
    padding: 20px;
    margin: 15px auto;
    width: 25%;
}
.img_producto{
    
    border-radius: 15px;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


